<header>
    <form class="search-form" action="#" method="get">
      <input type="text" name="search" placeholder="Buscar productos">
      <button type="submit">Buscar</button>
    </form>
</header>
<section class="productos"></section>
<div class="productos">
  <div class="row">
      <div class="col-4">
          <div class="producto ml-3">
              <img src="assets/Imagenes/th.jpg" alt="Ofertas Especiale">
              <div class="row">
                  <div class="col">                               
                  </div>
              </div>
          </div>
      </div>
      <div class="col-4">
          <div class="producto">
              <img src="assets/Imagenes/OIP.jpg" alt="Fresas">
              <div class="row">
                  <div class="col">
                      <h3>Precio de Oferta</h3>
                      <p>$ 950</p>
                      <button>Agregar al Carrito</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-4">
          <div class="producto">
              <img src="assets/Imagenes/descarga.jpg" alt="Huevos">
              <div class="row">
                  <div class="col">
                      <h3>Precio de Oferta</h3>
                      <p>$ 950</p>
                      <button>Agregar al Carrito</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<footer>
<h3>Contacto</h3>
  <div>
    <ul>
        <li>Linea de Servicio Bogotá</li>
        <li>(601) 744 07 40 - Linea Gratuita 01 8000 180 779</li>
        <li>soporte@modico.com</li>
    </ul>
</div>
<p class="der">&copy; 2023 Tienda Virtual. Todos los derechos reservados.</p>
</footer>
